In [5]:
import pandas as pd
import numpy as np

In [6]:
# create your first dataframe (df)
df = pd.DataFrame(
    np.array([
        [1,2],
        [3,4]
    ]),
    columns=['col1', 'col2']
)
print(df)

   col1  col2
0     1     2
1     3     4

In [7]:
import pandas as pd

pandas_series = pd.Series(
    [1, 2, 3, 4],  # Python list
    index=["a", "b", "c", "d"]  # Python list
)
print(pandas_series)

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
df

   col1  col2
0     1     2
1     3     4

In [9]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [10]:
df.columns.to_list()

['col1', 'col2']

In [11]:
df.columns[df.isna().any()].to_list()

[]